.contacts {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;

  .dynamic-site & {
    height: 400px;
  }

  &__swipe {
    width: 100%;

    .dynamic-site & {
      @include vcenter();

      @include max-screen-height($vertical-screen-breakpoint-small) {
        transform: translateY(-60%);
      }
    }
  }

  &__wrap {
    position: relative;
    overflow: hidden;
  }

&__row {
    @include clearfix;

    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    width: 300px;
    padding: 0 20px;
    vertical-align: top;

    .static-site & {
      position: relative;
      display: block;
      width: auto;
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
  }

  &__name {
    margin: 20px 0;
    font-size: em(22px);
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
  }

  &__body {
    height: 75px;
    font-size: em(16px);
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    color: rgba(#fff, 0.8);

    .static-site & {
      height: 50px;
    }
  }

  &__author {
    font-size: em(13px);
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
  }

  &__links {
    display: block;
    padding: 30px 0 40px;
    text-align: center;
    cursor: pointer;

  }

  &__link {
      display: inline-block;
      margin: 0 20px;
      vertical-align: middle;
      opacity: 1.0;
      transition: opacity 0.3s linear;

      @include max-screen-height($vertical-screen-breakpoint-small) {
        display: none;
      }

    &--github-white {
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url('../img/github-white.svg') no-repeat;
          background-size: 100% 100%;
        }
    &--mail-white {
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url('../img/mail-white.svg') no-repeat;
          background-size: 100% 100%;
        }
  }


}